{{define "../shared/_navigation.html"}}
<div class="col-lg-3">
    <!-- tags -->
    <!-- <h3>标签:</h3>
                  <div class="list-group">
                  </div> -->
    <!-- archive -->

    <h3>友情链接：</h3>
    <br>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                    <a style="display:block; margin: 10px auto" data-toggle="collapse" data-parent="#accordion" target="_blank"
                        href="http://www.cnbraid.com"
                        aria-expanded="true" aria-controls="collapse1">
                        Braid's Blog
                    </a>
                    <a style="display:block; margin: 10px auto" data-toggle="collapse" data-parent="#accordion" target="_blank"
                        href="http://tnt1200.github.io/"
                        aria-expanded="true" aria-controls="collapse1">
                        Tnt1200's Blog
                    </a>
                    <a style="display:block; margin: 10px auto" data-toggle="collapse" data-parent="#accordion" target="_blank"
                        href="http://www.nxadmin.com/"
                        aria-expanded="true" aria-controls="collapse1">
                        阿德马Web安全
                    </a>
                    <a style="display:block; margin: 10px auto" data-toggle="collapse" data-parent="#accordion" target="_blank"
                        href="http://www.thinkings.org/"
                        aria-expanded="true" aria-controls="collapse1">
                        从容's Blog
                    </a>
                    <a style="display:block; margin: 10px auto" data-toggle="collapse" data-parent="#accordion" target="_blank"
                        href="http://mars.run/"
                        aria-expanded="true" aria-controls="collapse1">
                        Mars's Blog
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

{{end}}
