{{define "shared/_navigation.html"}}
<div class="col-lg-3">
    <!-- tags -->
    <!-- <h3>标签:</h3>
        <div class="list-group">
        </div> -->
        <!-- archive -->

        <h3>友情链接：</h3>
        <br>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                    <li>
                        <h4>
                            <a style="display:block; margin: 10px auto" data-toggle="collapse" data-parent="#accordion" target="_blank" href="http://www.firebroo.com" aria-expanded="true" aria-controls="collapse1">
                                Firebroo's Blog
                            </a>
                        </h4>
                    </li>
                </div>
            </div>
        </div>
    </div>
{{end}}
