<!DOCTYPE html>
<html>
    <head>
        <title>asxalex's Blog</title>
        <link rel="stylesheet" href="/static/assets/stylesheets/application.css" type="text/css" />
        <link rel="stylesheet" href="/static/assets/stylesheets/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/assets/stylesheets/style.css" type="text/css" />
        <link rel="stylesheet" href="/static/assets/stylesheets/github.css" type="text/css" />
        <link href="assets/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
    </head>
    <body>
        {{.LayoutContent}}

        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    Copyright &copy; 2016
                    |
                    Powered by
                    <a href="http://www.firebroo.com/" target="_blank">            <strong>asxalex</strong>
                    </a>        </div>
                    <div class="content has-text-centered">
                        <iframe src="https://ghbtns.com/github-btn.html?user=firebroo&amp;repo=phoenix_blog&amp;type=star&amp;count=true" scrolling="0" width="100px" height="20px" frameborder="0"></iframe>
                    </div>
            </div>
        </footer>

    </body>

</html>
